<!DOCTYPE html>
<html>
<head>
    <title>Loan Prediction</title>
</head>
<body>

<h1>Loan Prediction Form</h1>

<form action="/submit" method="POST">

<label>Gender</label><br>
<select name="Gender">
    <option value="1">Male</option>
    <option value="0">Female</option>
</select>
<br><br>

<label>Married</label><br>
<select name="Married">
    <option value="1">Yes</option>
    <option value="0">No</option>
</select>
<br><br>

<label>Dependents</label><br>
<input type="number" name="Dependents" required>
<br><br>

<label>Education</label><br>
<select name="Education">
    <option value="1">Graduate</option>
    <option value="0">Not Graduate</option>
</select>
<br><br>

<label>Self Employed</label><br>
<select name="Self_Employed">
    <option value="1">Yes</option>
    <option value="0">No</option>
</select>
<br><br>

<label>Applicant Income</label><br>
<input type="number" name="ApplicantIncome" required>
<br><br>

<label>Coapplicant Income</label><br>
<input type="number" name="CoapplicantIncome" required>
<br><br>

<label>Loan Amount</label><br>
<input type="number" name="LoanAmount" required>
<br><br>

<label>Loan Amount Term</label><br>
<input type="number" name="Loan_Amount_Term" required>
<br><br>

<label>Credit History</label><br>
<select name="Credit_History">
    <option value="1">Good</option>
    <option value="0">Bad</option>
</select>
<br><br>

<label>Property Area</label><br>
<select name="Property_Area">
    <option value="0">Rural</option>
    <option value="1">Semiurban</option>
    <option value="2">Urban</option>
</select>
<br><br>

<input type="submit" value="Predict Loan">

</form>

<br>

<a href="/">Home</a>

</body>
</html>
   
    